

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.omer-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.omer-hmenu>li, .omer-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.omer-hmenu, ul.omer-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#omer-hmenu-bg 
{
   display: none;
}

ul.omer-hmenu>li:first-child {
   padding-right:7px;
}
ul.omer-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='omer-hmenu-separator');
}
ul.omer-hmenu>li>span.omer-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -7px;
   width: 7px;
   height: 30px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.omer-hmenu>li:first-child>span.omer-hmenu-separator
{
   display:none;
}

ul.omer-hmenu ul, .desktop-nav ul.omer-hmenu>li.ext:hover>a{
   background-color: #7CEB14 !important;
}

.omer-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#omer-header-bg 
{
   display: none;
}

.omer-content-layout, .omer-content-layout-row, .omer-layout-cell 
{
   display: block;
   zoom: 1;
}
.omer-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.omer-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.omer-search div>input[type="text"]
{
   width: 100%;
}

* html form.omer-search>input[type="text"] 
{
   margin :0;
}

.omer-postheadericons span{
   zoom: 1;
}
.omer-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.omer-content 
{
   width: auto;
   float:none;
}

